[core]
	editor = "/Applications/Emacs.app/Contents/MacOS/Emacs"
	pager = "/usr/bin/less -N"
	autocrlf = input
  whitespace = trailing-space, space-before-tab, indent-with-non-tab
  logallrefupdates = true
  quotepath = false
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
	ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  changed = red bold
  untracked = cyan
[web]
	browser = google-chrome
[rerere]
	enabled = 1
	autoupdate = 1
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[diff]
  renames = copy
  tool = ediff
  guitool = Kaleidoscope
[difftool]
    prompt = false
[github]
	user = patyoon
	token = token
[instaweb]
	httpd = apache2 -f
[push]
	default = current
[user]
	name = Patrick Yoon
  email = me@patyoon.com
[include]
  path = .gitconfig_airbnb
[include]
  path = .gitconfig_aliases
[merge]
  tool = ediff