[core]
	editor = "/Applications/Emacs.app/Contents/MacOS/Emacs"
	pager = "/usr/bin/less -N"
	autocrlf = input
  whitespace = trailing-space, space-before-tab, indent-with-non-tab
  logallrefupdates = true
  quotepath = false
	excludesfile = /Users/patrickyoon/.gitignore_global
	precomposeunicode = true
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
	ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  changed = red bold
  untracked = cyan
[web]
	browser = google-chrome
[rerere]
	enabled = true
	autoupdate = 1
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[diff]
  renames = copy
  tool = ediff
  guitool = Kaleidoscope
[difftool]
    prompt = false
[github]
	user = patyoon
	token = token
[instaweb]
	httpd = apache2 -f
[push]
	default = current
[user]
	name = Patrick Yoon
	email = patrick.yoon@airbnb.com
[include]
  path = .gitconfig_airbnb
[include]
  path = .gitconfig_aliases

[mergetool.ediff]
    cmd = emacs --eval \"\
(progn\
  (defun ediff-write-merge-buffer ()\
    (let ((file ediff-merge-store-file))\
      (set-buffer ediff-buffer-C)\
      (write-region (point-min) (point-max) file)\
      (message \\\"Merge buffer saved in: %s\\\" file)\
      (set-buffer-modified-p nil)\
      (sit-for 1)))\
  (setq ediff-quit-hook 'kill-emacs\
        ediff-quit-merge-hook 'ediff-write-merge-buffer)\
  (ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\"\
                                   \\\"$BASE\\\" nil \\\"$MERGED\\\"))\"
