[core]
	editor = "/Applications/Emacs.app/Contents/MacOS/Emacs"
	pager = "/usr/bin/less -N"
	autocrlf = input
	whitespace = trailing-space, space-before-tab, indent-with-non-tab
	logallrefupdates = true
	quotepath = false
	excludesfile = /Users/patrickyoon/.gitignore_global
	precomposeunicode = true
[color]
  status = auto
  branch = auto
  interactive = auto
  diff = auto
	ui = true
[color "branch"]
  current = green reverse
  local = green
  remote = yellow
[color "diff"]
  meta = yellow
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow bold
  changed = red bold
  untracked = cyan
[web]
	browser = google-chrome
[rerere]
	enabled = true
	autoupdate = 1
[help]
	autocorrect = 1
[credential]
	helper = osxkeychain
[branch]
	autosetuprebase = always
[diff]
  renames = copy
  tool = ediff
  guitool = Kaleidoscope
[difftool]
    prompt = false
[github]
	user = patyoon
	token = token
[instaweb]
	httpd = apache2 -f
[push]
	default = current
[include]
  path = .gitconfig_aliases
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# This next lines include Netlify's Git Credential Helper configuration in your Git configuration.
# [include]
#   path = /Users/patrickyoon/Library/Preferences/netlify/helper/git-config

[includeIf "gitdir:~/workspace/"]
	path = /Users/patrick/.gitconfig_weavegrid
[includeIf "gitdir:~/personal_workspace/"]
	path = /Users/patrick/.gitconfig_personal

[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
